.{
   margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:blue;
    color: aliceblue;
}
header{
    background-color:darkblue;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    padding:10px 20px ;
    justify-content: space-between;
    align-self: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}.navbar ul li a{
    color: black;
    font: 16px;
    text-decoration: none;
    transition: 03 ease ;
}